In [2]:
import numpy as np
import pandas as pd

In [ ]:
[Quiz] 시리즈 obj4의 데이터에 1000을 더하시오

In [5]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"] 
obj4 = pd.Series(sdata, index=states)
obj4  
#NaN (not a number) - null,결측치
obj4.values

array([   nan, 35000., 16000., 71000.])

In [6]:
obj4 + 1000

California        NaN
Ohio          36000.0
Oregon        17000.0
Texas         72000.0
dtype: float64

In [15]:
# [Quiz] sample 데이터 내에 90, 89가 있는지 확인하시오

In [23]:
sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
sample.isin([89,90])

a     True
b     True
c    False
d    False
e     True
f    False
g    False
h    False
i    False
j     True
dtype: bool

In [9]:
from pandas import Series, DataFrame

In [17]:
# [Quiz] sample 데이터 내에 90이 있으면 True, 없으면 False을 출력

In [33]:
if 90 in sample.values:
    print("True")
else:
    print("flase")

True

In [34]:
#[Quiz] sample 인덱스 내에 'b' 있는지 True, 없으면 False을 출력

In [35]:
if 'b' in sample.index:
    print("True")
else:
    print("False")

True

In [37]:
#[quiz] sample 데이터에서 80 이상 데이터을 선택하시오.

In [38]:
result = sample[sample >= 80]
print(result)

a     89
b     90
e     90
f    100
j     90
dtype: int64

In [39]:
mean_value = sample.mean()

result = sample[sample < mean_value]
print(result)

d    65
h    55
i    40
dtype: int64

In [ ]:
# [Quiz] sample 데이터가 60과 80 사이의 데이터만 선택

In [41]:
result = sample[(sample > 60) & (sample < 80)]
print(result)

c    78
d    65
g    78
dtype: int64

In [43]:
# [Quiz] 데이터프레임 frame2에 poplevel 컬럼을 추가하고, pop이 2.5 이상이면 "high", 2.5보다 작으면 "low"로 값을 저장하기

In [45]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=["year", "state", "pop"])
frame2

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [65]:
frame2["poplevel"] = ""
frame2["poplevel"] = frame2['pop'].apply(lambda x: 'high' if x >= 2.5 else 'low')

frame2

   year   state  pop poplevel
0  2000    Ohio  1.5      low
1  2001    Ohio  1.7      low
2  2002    Ohio  3.6     high
3  2001  Nevada  2.4      low
4  2002  Nevada  2.9     high
5  2003  Nevada  3.2     high